/* --------------------
BASE STYLE FOR SMALL SCREEN
--------------------- */

html {
    box-sizing: border-box;
    font-family: 'Encode Sans Condensed', sans-serif;
    font-size: 20px;
}
body {
    background-color: whitesmoke;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

/* --------------------
STYLE FOR HEADER AND NAVIGATION
--------------------- */
header {} .wrapper {
    max-width: 100%;
    max-height: 100%;
    margin-right: 1%;
    margin-left: 1%;
}
.wrapper-header {
    background: #303234;
    /* For browsers that do not support gradients */
    
    background: -webkit-linear-gradient(#303234, #060606);
    /* For Safari 5.1 to 6.0 */
    
    background: -o-linear-gradient(#303234, #060606);
    /* For Opera 11.1 to 12.0 */
    
    background: -moz-linear-gradient#303234, #060606);
    /* For Firefox 3.6 to 15 */
    
    background: linear-gradient(#303234, #060606);
    /* Standard syntax */
    
    padding: 7px;
    border-radius: 10px;
}
.wrapper-header figure img {
    height: auto;
    max-width: 100%;
    padding-top: 5%;
}
nav {
    max-width: 100%;
}
header figure {
    float: left;
}
.hamburger-menu {
    fill: ghostwhite;
    margin-left: 90%;
    cursor: pointer;
}
header nav ul {
    background-color: whitesmoke;
    height: 0;
    max-width: 100%;
    border-radius: 10px;
    overflow: hidden;
}
header nav ul.open {
    height: auto;
    position: relative;
    width: auto;
    margin-top: 2%;
}
header nav ul li {
    text-align: center;
}
header nav ul li:hover {
    background: #f1e767;
    background: -moz-linear-gradient(top, #f1e767 0%, #feb645 100%);
    background: -webkit-linear-gradient(top, #f1e767 0%, #feb645 100%);
    background: linear-gradient(to bottom, #f1e767 0%, #feb645 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#feb645', GradientType=0);
}
header nav ul li a {
    padding: 10px;
    text-decoration: none;
    color: #303234;
    text-shadow: 3px 2px 13px rgba(119, 117, 101, 1);
    display: block;
    margin: 0;
    border-bottom: 1px solid orange;
}

/* --------------------
STYLE FOR ASIDE
--------------------- */
aside figure {
    position: relative;
    padding: 2%;
    background-color: #303234;
    border-radius: 10px 10px 0px 0px;
}
aside figure img {
    max-width: 90vw;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 1%;
    margin-bottom: 1%;
}
aside .aside-left-text {
    background-color: #303234;
    color: whitesmoke;
    font-size: 1em;
    padding: 3%;
    line-height: 1.3;
    text-shadow: 3px 2px 7px rgba(119, 117, 101, 1);
    border-radius: 0px 0px 10px 10px;
}
.aside-line img {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 2%;
}
.left-text-part-one h2 {
    font-size: 1.5em;
    color: orange;
    margin-bottom: 3%;
    font-weight: 500;
}
.left-text-part-one h4 {
    margin-top: 2%;
    color: orange;
}

/* --------------------
STYLE FOR MAIN CONTENT
--------------------- */
.main-content-text {
    font-size: 1em;
    border-radius: 10px;
    padding: 1%;
    line-height: 1.3;
    text-shadow: 3px 2px 13px rgba(119, 117, 101, 1);
    margin-top: 5%;
}
.main-content h2 {
    font-size: 1.4em;
    margin-bottom: 2%;
    font-weight: 600;
}
.last-paragraph {
    margin-top: 2%;
    margin-bottom: 2%;
}
.side-nav {
    font-size: 1em
}

/* --------------------
STYLE FOR FOOTER
--------------------- */
footer ul,
.side-nav ul {
    display: block;
    max-width: 100%;
    padding: 1%;
}
footer ul li,
.side-nav ul li {
    padding: 1%;
}
footer ul li a,
.side-nav ul li a {
    text-decoration: none;
    color: black;
    text-shadow: 3px 2px 13px rgba(119, 117, 101, 1);
}
footer ul li a:hover,
.side-nav ul li a:hover {
    text-decoration: underline;
    color: orange;
}
.footer-line img {
    max-width: 100%;
}
footer .bottom-footer {
    line-height: 0.3;
}

/* --------------------
STYLES FOR MIN-WIDTH: 1023px
--------------------- */

@media (min-width: 1023px) {
    .wrapper-header {
        height: 3em;
        margin-bottom: 3%;
    }
    .wrapper-header figure {
        margin-right: 50%;
    }
    .hamburger-menu {
        display: none;
        visibility: hidden;
    }
    header nav ul {
        overflow: visible;
    }
    header nav ul li {
        display: inline-block;
        font-size: 1.1em;
        color: whitesmoke;
        border-style: none;
    }
    header nav ul li a {
        color: whitesmoke;
        background: url(../images/menu_separator.png) no-repeat left;
        border-bottom-style: hidden;
    }
    header nav ul li a:hover {
        color: black;
        text-decoration: underline;
    }
    aside figure {
        padding: 0%;
        margin: 0;
    }
    aside figure img {
        display: block;
        float: right;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 2%;
    }
    aside .aside-left-text-container {} aside .aside-left-text {
        background-color: #303234;
        color: whitesmoke;
        font-size: 0.9em;
        line-height: 1.3;
        text-shadow: 3px 2px 7px rgba(119, 117, 101, 1);
        border-radius: 10px 0px 0px 10px;
        height: 285px;
    }
    .left-text-part-one h2 {
        margin-bottom: 2%;
    }
    .left-text-part-one h4 {
        margin-top: 1%;
    }
    .main-content-text h2 {
        margin-top: 3%;
    }
    .main-content-text {
        float: left;
        width: 63vw;
        margin-bottom: 5%;
    }
    .side-nav ul {
        margin-top: 3%;
        width: 33vw;
        float: right;
        background: url(../images/boxy_separator.png) no-repeat left;
        padding: 2%;
    }
    .side-nav ul li {
        padding: 3%;
    }
    .footer-line-one img {
        display: none;
    }
    .footer-line img {
        display: none;
    }
    footer {
        width: 100%;
        float: left;
        background: url(../images/footer_seperator.png) no-repeat top;
    }
}